sudo: required

services:
- docker

-language: go

before_install:
- docker pull golang:1.12
- docker pull mongo:4.0

script:
- docker-compose -f ./compose.test.yaml build
- docker-compose -f ./compose.test.yaml run adapter
- docker-compose -f ./compose.test.yaml down